* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.contenedor-cpanel {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;

    width: 100%;
    height: 100%;    
    background-color: #322f2f;
    color: #fff;
    /*box-shadow: 8px 8px 3px #b5b4b4;*/
}

.item-cpanel {
    display: flex;
    justify-content: space-between;
    width: 100%; 
}

.nav-cpanel {
    flex-direction: column;
    width: 40%;
    height: 100%;
    align-items: center;
    padding: 20px 30px;
    border-bottom: 3px solid #068427;
    background-color: #1754bc;
}

.navegation-cpanel {
    display: flex;
    align-items: center;
}

.btn {
    margin: 0px 5px;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
}

.btn-nav {
    background-color: #068427;
}

.btn-close {
    background-color: #b51111;
}

.item-cpanel h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
}

#title-proceso {
    text-transform: uppercase;
    text-align: left;
    color: #fff;
    font-size: 16px;
    margin-top: 25px;
}

#form-add {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
}

.content {
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    padding: 30px 0px;
}

.item-form-input {
    display: flex;
    flex-direction: column;
}

.item-form-input input[type="text"], .item-form-input input[type="number"]{
    padding: 0px 20px;
    height: 40px;
    color: #948d8d;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #0754b2;
}

select{
    padding: 0px 20px;
    height: 40px;
    background-color: #ced0d4;
    border: 2px solid #0754b2;
    color: #000;
}

.content-check {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.content-check input[type="checkbox"] {
    width: 30px;
    height: 30px;
}

.item-form-input label {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 5px
}

input[type="submit"] {
    background-color: #068427;
    border: none;
    color: #fff;
    font-weight: bold;
    width: 70%;
    cursor: pointer;
    height: 40px;
}