.content-categoria {
    display: block;
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 50px;
}

.content-categoria h3 {
    font-size: 22px;
}

.content-categoria hr {
    width: 100%;
    height: 4px;
    background: #cbcbcb;
    border: none;
}

.dezplazamiento-categoria {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 20px;

    padding: 10px 0px;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

.content-productos {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    gap: 15px;

    padding: 10px 0px;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

.card-producto {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: auto;
    /* overflow: hidden; */
    background-color: #fff;
    border-radius: 0px;
    box-shadow: 1px 1px 5px #d3d1d1;
    transition: all .3s ease-in-out .0s;
}

.card-producto:hover {
    border-radius: 5px;
    box-shadow: 3px 3px 10px #9a9a9a;
}

.producto-img {
    display: block;
    width: 100%;
    height: 300px;
    min-height: 300px;
    overflow: hidden;
}

.producto-img img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    background-position: center;
}

.producto-info {
    padding: 10px;
}

.producto-codigo {
    color: #9a9a9a;
    font-size: 10px;
}

.btn-agregar-carrito {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    width: 200px;
    height: 50px;
    
    text-decoration: none;
    font-size: 15px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    color: #0f4db9;
    border: 2px solid #0f4db9;
    transition: all .3s ease-in-out 0s;
}

.btn-agregar-carrito i {
    font-size: 15px;
    margin-right: 10px;
}

.btn-agregar-carrito:hover {
    background-color: #0f4db9;
    color: #fff;
}

.btn-agregar-carrito img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    object-fit: cover;
}

.producto-nombre {
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.producto-marca {
    font-size: 14px;
    color: #9a9999;
    font-weight: bold;
    padding: 5px;
    text-transform: uppercase;
}   

.producto-promocion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 10px;
    right: 10px;
    overflow: hidden;
    font-weight: bold;
    padding: 5px;
    font-size: 15px;
    background-color: #fff;
    width: auto;
    border-radius: 3px;
}

.producto-promocion i {
    font-size: 25px;
    margin-right: 5px;
}

.producto-montos {
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: right;
    align-items: center;
    width: 100%;
}

.monto-descuento{
    text-decoration: line-through;
    color: #848484;
    font-size: 16px;
}

.monto-producto {
    font-weight: 400;
    font-size: 22px;
    color: #000;
    margin-left: 10px;
}

.producto-con-descuento {
    width: 100%;
    padding: 8px;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    background-color: #b4f8c6;
    color: #085d1f;
}

.filtrar-productos {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    width: 100%;
}

.form-search-productos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    width: auto;
    border-radius: 5px;
    padding: 20px 30px;
    margin: 20px 0px 20px 0px;
    background-color: #ededed;
}

#btnCategorias {
    background-color: #2863c8;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

#btnCategorias:hover {
    background-color: #2863c8dc;
}

option {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px;
}

#search {
    padding: 10px;
    border: none;
    border-radius: 3px;
    margin: 0px 10px 0px 10px;
    transition: all .3s ease-in-out 0s;
}

#search:focus {
    padding: 12px;
}

#postForm {
    background-color: #25a11a;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

#postForm:hover {
    background-color: #25a11ae2;
}

.paginacion {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin: 60px 0px 60px 0px;
}

.btn-paginacion {
    padding: 10px;
    text-decoration: none;
    border-radius: 3px;
    border: solid 1px #2863c8;
    color: #2863c8;
    background-color: #fff;
    transition: all .3s ease-in-out .0s;
}

.btn-paginacion:hover {
    padding: 12px;
    color: #fff;
    background-color: #2863c8;
}

.active-paginacion {
    padding: 12px;
    color: #fff;
    background-color: #2863c8db;
}